.dot {
    height: 25px;
    width: 25px;
    background-color: #e29b9b;
    border-radius: 50%;
    position: relative;
    display: none;
  }
body {
    background-color: rgb(211, 239, 211);
}
/*style{
    font-family: "Lucida Handwriting", "cursive";
}*/ 

button{
    background-color: rgb(116, 139, 116);
}

.again{
    display: none; 
}



